@font-face {
  font-family: "netmarbleM";
  src: url("fonts/netmarbleM.ttf");
}

@font-face {
  font-family: "netmarbleL";
  src: url("fonts/netmarbleL.ttf");
}

@font-face {
  font-family: "netmarbleB";
  src: url("fonts/netmarbleB.ttf");
}

body {
  font-family: "netmarbleB", "sans-serif";
}
