.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 45px;
}

.screen-header__title h1 {
  font-size: 40px;
}

.screen-header__icon i {
  margin-left: 25px;
}
