.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.status-bar__column i,
.status-bar__column span {
  margin: 0px 1px;
  color: rgba(0, 0, 0, 0.6);
}

.status-bar__column span {
  font-weight: 600;
  font-size: 20px;
}
