.recommendation-commu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.recommendation-commu__column:last-child {
  margin-right: 0px;
}
.recommendation-commu__image {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.recommendation-commu__image img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.recommendation-commu__image .badge {
  position: absolute;
  bottom: -7px;
}

.recommendation-commu__title {
  display: block;
  margin: 15px 0px 3px 7px;
  font-size: 18px;
}

.my-commu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.my-commu img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.my-commu .badge {
  position: absolute;
  left: 3px;
  top: 128px;
  padding-right: 5px;
}

.my-commu__title {
  margin: 23px 0px 0px 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.dot {
  display: block;
  font-size: 37px;
  color: #944efc;
  font-weight: bolder;
  margin-left: 3px;
}
